table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.switch-btn {
  height: 30px;
  font-size: 20px;
  width: 200px;
  position: fixed;
  top: 0;
}
